* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-main {
    background-color: rgb(232, 232, 232)
}

.contaner-main {
    width: 1100px;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
}

.product_main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-item {
    display: flex;
    border: 1px solid rgb(195, 194, 194);
    border-radius: 5px;
    height: 2rem;
    padding: 0.5rem;
}

.input-file {
    display: flex;
    border: 1px solid rgb(195, 194, 194);
    height: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    gap: 2px;
}

.result_main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    box-shadow: 0px 0px 5px rgb(192, 191, 191);
    transition: .2s;
}
.card:hover{
    transform: scale(1.09);
    box-shadow: 0px 10px 15px rgb(23, 23, 23);
}